.table-border-spacing {
  border-spacing: 0 8px;
}



@media(max-width:1024px){

  tr{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    border-bottom:0px !important;
  }
  th, thead{
    display: none;
  }
  td{
    height: 24px;
  }
  tr,th,td{
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}
