.table-border-spacing {
  border-spacing: 0 8px;
}



@media(max-width:1024px){

  tr{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4px;
    border-bottom:0px !important;
  }
  th, thead{
    display: none;
  }
  td{
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  td::before{
    content: attr(data-testid);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
  }
  tr,th,td{
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}
